# macOS system files
.DS_Store

# VSCode
.vscode/*
.autohidefiles

# Python cache
__pycache__/

# Data files (too big to track with git - should be copied by each user)
*.rds
analyses_input/
files_from_weinreb/
input_for_Seurat/
RDS_objects/
data/analyses_output
**/in_vitro/**/1000_degs_mouse_tf_f1.out
**/in_vitro/**/cux1_f1.out
*.zip
other/*
data/output/
data/in_vivo/analyses/
data/in_vitro/analyses/
data/gene_sets/mouse-human-genes.csv
data/gene_sets/GSE101300_HSC_EdgeR_results.txt

# Midway2 job files
code/analyses_scripts/job_submit_scripts/*/
code/analyses_scripts/job_submit_scripts/*.zip
code/analyses_scripts/job_submit_scripts/*.err
code/analyses_scripts/job_submit_scripts/*.out

# Zip files
data/in_vivo.zip
data/in_vitro.zip

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
